@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

.font-egal {
  font-family: "Eagle Lake", cursive;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  font-size: 100%;
  scroll-behavior: smooth;

  --fs-16px: 16px;
  --fs-18px: 18px;
  --fs-62px: clamp(35px, 4.305555555555555vw, 62px);
  --fs-20px: clamp(16px, 1.3888888888888888vw, 20px);
  --fs-22px: clamp(18px, 1.5277777777777777vw, 22px);
  --fs-23px: clamp(18px, 1.5972222222222223vw, 23px);
  --fs-47px: clamp(28px, 3.263888888888889vw, 47px);
  --fs-24px: clamp(16px, 1.6666666666666667vw, 24px);
  --fs-28px: clamp(18px, 1.9444444444444444vw, 28px);
  --fs-48px: clamp(32px, 3.263888888888889vw, 48px);
  --fs-40px: clamp(25px, 2.7777777777777777vw, 40px);

  /* colors */
  --black: #000000;
  --dark-blue: #142f43;
  --light-gray: #9d9aa7;
  --gray: #454545;
  --pink: #fe9ec4;
  --yellow: #fca62b;
}

body {
  background-color: #04021c;
}

/* font-sizes */
.fs-62px {
  font-size: var(--fs-62px);
}
.fs-20px {
  font-size: var(--fs-20px);
}
.fs-22px {
  font-size: var(--fs-22px);
}
.fs-23px {
  font-size: var(--fs-23px);
}
.fs-47px {
  font-size: var(--fs-47px);
}
.fs-24px {
  font-size: var(--fs-24px);
}
.fs-28px {
  font-size: var(--fs-28px);
}
.fs-48px {
  font-size: var(--fs-48px);
}
.fs-16px {
  font-size: var(--fs-16px);
}
.fs-40px {
  font-size: var(--fs-40px);
}

/* Line-heights */
.lh-129 {
  line-height: 129.5%;
}
.lh-30px {
  line-height: 30px;
}

/* colors */
.black {
  color: var(--black);
}
.white {
  color: white;
}
.dark-blue {
  color: var(--dark-blue);
}
.gray {
  color: var(--gray);
}
.light-gray {
  color: var(--light-gray);
}
.pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-blue {
  background-color: #aadde4;
}
.yellow {
  color: var(--yellow);
}

/* font-weights */
.weight-9 {
  font-weight: 900;
}
.weight-8 {
  font-weight: 800;
}
.weight-7 {
  font-weight: 700;
}
.weight-6 {
  font-weight: 600;
}
.weight-5 {
  font-weight: 500;
}
.weight-4 {
  font-weight: 400;
}
.weight-3 {
  font-weight: 300;
}

/* margins */
.mb-5px {
  margin-bottom: 5px;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-20px {
  margin-bottom: 20px;
}
.mb-25px {
  margin-bottom: clamp(5px, 1.7361111111111112vw, 25px);
}
.mb-30px {
  margin-bottom: clamp(18px, 2.0833333333333335vw, 30px);
}
.mb-35px {
  margin-bottom: 35px;
}
.mb-40px {
  margin-bottom: clamp(25px, 2.7777777777777777vw, 40px);
}
.mb-45px {
  margin-bottom: 45px;
}
.mb-50px {
  margin-bottom: 50px;
}
.mb-55px {
  margin-bottom: 55px;
}
.mb-60px {
  margin-bottom: clamp(40px, 4.166666666666667vw, 60px);
}
.mb-70px {
  margin-bottom: clamp(40px, 4.861111111111111vw, 70px);
}
.mb-75px {
  margin-bottom: clamp(35px, 5.208333333333333vw, 75px);
}
.mb-80px {
  margin-bottom: clamp(20px, 5.555555555555555vw, 80px);
}
.mb-100px {
  margin-bottom: clamp(40px, 6.944444444444445vw, 100px);
}
.mb-150px {
  margin-bottom: clamp(80px, 10.416666666666666vw, 150px);
}
.mb-200px {
  margin-bottom: clamp(100px, 13.88888888888889vw, 200px);
}
.mb-300px {
  margin-bottom: 300px;
}

.margin-center {
  margin: 0 auto;
}

/* paddings */
.py-100px {
  padding-top: clamp(50px, 6.944444444444445vw, 100px);
  padding-bottom: clamp(50px, 6.944444444444445vw, 100px);
}
.py-200px {
  padding-top: clamp(50px, 13.88888888888889vw, 200px);
  padding-bottom: clamp(50px, 13.88888888888889vw, 200px);
}

/* radiuses */
.radius-12px {
  border-radius: 12px;
}

/* Configurations */
.container-wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.button-wrapper {
  width: clamp(148px, 15.416666666666666vw, 222px);
  height: clamp(48px, 5vw, 72px);
}

/* ======================================== Main CSS ============================================== */

/* NAVBAR STARTS */
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  background-color: #04021c;
}
.navbar {
  height: clamp(120px, 10.833333333333334vw, 156px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.navbar-left img {
  width: clamp(110px, 10.833333333333334vw, 150px);
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 55px;
}

.navbar-right .mint-btn {
  /* width: 201px; */
  height: 61px;
  padding: 0 3rem;

  background: #f9b144;
  border-radius: 5px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* NAVBAR ENDS */

/* HERO STARTS */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: clamp(40px, 8.958333333333334vw, 129px);
  margin: 50px 0;
}
.hero-left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 50%;
}
.hero-right {
  width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.hero-right img {
  width: 100%;
  max-width: 451.81px;
}

.hero-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.hero-btns button:nth-child(1) {
  width: 316px;
  height: 67px;
  background: #f9b145;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.hero-btns button:nth-child(2) {
  width: 241px;
  height: 67px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.hero-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.timer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem;
  gap: 10px;
  height: 50px;
  /* border: 2px solid red; */
}

.timer-box:not(:last-child) {
  border-right: 2px solid white;
}

.hero-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.hero-counter button {
  width: 108.59px;
  height: 114.48px;
  background: rgba(255, 255, 255, 0.05);
  border: 2.17188px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
  border-radius: 17.375px;
}
.hero-counter div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: rgba(255, 255, 255, 0.05);
  border: 2.17188px solid #e4e4e4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
  border-radius: 17.375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cat-buy-btn {
  width: 100%;
  height: 84.33px;
  left: 82px;
  top: 561.28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background: #f9b144;
  border-radius: 5.62212px;
}

/* HERO ENDS */

/* ABOUT STARTS */
.about-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.about-images img {
  width: 100%;
}
/* ABOUT ENDS */

/* ROADMAP STARTS */
.roadmap-content {
  padding-bottom: 2rem;
  padding-left: 60px;
  /* border: 2px solid red; */
  position: relative;
  /* overflow: hidden; */
}

.roadmap-content:last-child::after {
  display: none;
}

.roadmap-content::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 0%;
  width: 31.3px;
  height: 31.3px;
  border-radius: 50%;
  background: #ffffff;
}
.roadmap-content::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 10px;
  width: 10px;
  height: 100%;
  background: #ffffff;
}

/* ROADMAP ENDS */

/* FAQ STARTS */
.faqs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}
.faq {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.faq-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 35px 33px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.faq-btn img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.faq-content {
  padding: 35px 33px;
  padding-top: 0;
}

.faq-body {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 0;
  overflow: hidden;
}
/* FAQ ENDS */

/* TEAMS STARTS */
.team-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 31px;
}

.team-card {
  width: 284.5px;
  height: 285.59px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}
/* TEAMS ENDS */

/* FOOTER STARTS */
footer {
  height: 277px;
  background: #000000;
}

footer .container-wrapper {
  height: 100%;
}
.footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 48px;
}
.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 42px;
}
/* FOOTER ENDS */

@media (max-width: 1200px) {
  .navbar-right {
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-left {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
  .hero-right img {
    max-width: 100%;
  }
}
.cross-icon {
  display: none;
}
.hamburger {
  display: none;
}
@media (max-width: 850px) {
  .navbar-right {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1000;
    background-color: white;
    /* color: black; */
    width: 300px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    padding: 2rem;
    gap: 1.8rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .hamburger {
    display: block;
    width: 40px;
    cursor: pointer;
  }

  .navbar-right.open {
    right: 0;
  }

  .cross-icon {
    display: block;
    width: 20px;
    cursor: pointer;
  }

  .mint-btn {
    width: 100%;
    padding: 0 0 !important;
  }

  .navbar-right a {
    color: var(--dark-blue);
  }

  .navbar-cat-icon {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .hero {
    margin: 5px 0 !important;
  }
}

@media (max-width: 700px) {
  .team-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .team-card {
    width: 100%;
  }

  .hero-counter button {
    width: 59.59px;
    height: 60.480000000000004px;
  }
  .hero-counter div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgba(255, 255, 255, 0.05);
    border: 2.17188px solid #e4e4e4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 8.68751px 21.7188px rgba(0, 0, 0, 0.05);
    border-radius: 17.375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .hero-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .hero-btns button:nth-child(1) {
    width: 100%;
  }

  .hero-btns button:nth-child(2) {
    width: 100%;
  }

  .cat-buy-btn {
    height: 64.33px;
  }

  .hamburger {
    width: 30px;
  }
}
